<div class="logo">
    <img src="../../assets/PlaceHolderLogo.png" alt="" class="logo-img">
    <div class="logo-text-container">
        <h2>Mathilde Lemarié</h2>
        <p class="sub-title-header sub-title">psychologue du developpement</p>
    </div>
</div>
<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <div class="burger">
        <div class="bar1 bar"></div>
        <div class="bar2 bar"></div>
        <div class="bar3 bar"></div>
    </div>
</label>
<nav>
    <ul>
        <a href="../../pages/practices/practices.html"><li>Mes pratiques</li></a>
        <a href=""><li>Conditions</li></a>
        <a href=""><li>A propos</li></a>
        <a href=""><li>Contact</li></a>
        <a href=""><li>RDV Doctolib</li></a>
    </ul>
</nav>