<a href="../../pages/home/home.html">
    <div class="logo">
        <img src="../../assets/PlaceHolderLogo.png" alt="" class="logo-img">
        <div class="logo-text-container">
            <h2 class="title main-title">Mathilde Lemarié</h2>
        </div>
    </div>
</a>
<input type="checkbox" class="nav-toggle" id="nav-toggle">
<label for="nav-toggle" class="nav-toggle-label">
    <div class="burger">
        <div class="bar1 bar"></div>
        <div class="bar2 bar"></div>
        <div class="bar3 bar"></div>
    </div>
</label>
<nav>
    <ul>
        <a href="../../pages/practices/practices.html"><li>accueil</li></a>
        <a href="../../pages/about/about.html"><li>à propos</li></a>
        <a href="../../pages/practices/practices.html"><li>infos pratiques</li></a>
        <a href=""><li>contact</li></a>
        <a href=""><button>RDV doctolib</button></a>
    </ul>
</nav>