/* utils/global.css */

/* Variables de couleur */
:root {
    --primary-color: #5D0E41;
    --secondary-color: #84486E;
    --font-color: #333;
    --background-color: #f9f9f9;
    --darker-background: #470B31;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    display: flow-root;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color);
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}
