/* utils/global.css */

/* Variables de couleur */
:root {
    --primary-color: #5D0E41;
    --secondary-color: #84486E;
    --font-color: #333;
    --background-color: #f9f9f9;
    --darker-background: #470B31;
    --title-font: 'Taviraj', serif;
    --text-font: 'Lato', sans-serif;
    
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: var(--text-font);
    font-weight: 300;
    color: var(--font-color);
    background-color: var(--background-color);
    margin: 0;
    display: flow-root;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font, Arial);
    color: var(--primary-color);
    font-weight: 400;
}


a {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

.sub-title {
    font-size: 0.5em;
    text-transform: uppercase;
    font-family: var(--text-font, Arial);
    font-style: italic;
    opacity: 75%;
}
