:root {
    --primary-color : #D0A4A4;
    --secondary-color : #C47F7F;
    --accent-color : #5D0E41;

    --background-color : #FDFDFD; 
    --text-color : #000000;

    --warning-color: #C91D2B;

    --shadow-color: rgba(43, 43, 43, 0.336);

    --title-font: "Playfair Display", serif;
    --text-font: 'Lato', light;

    --header-height : 82px;
}

html {
    scroll-behavior: smooth;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/* Styles globaux */
body {
    font-family: var(--text-font);
    font-weight: 300;
    color: var(--font-color);
    letter-spacing: 0.025rem;
    background-color: var(--background-color);
    margin: 0;
    display: flow-root;
}

.hero-section{
    padding-top: var(--header-height);
}

.title {
    font-family: var(--title-font);
    color: var(--accent-color);
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 2rem;
}

.main-title {
    text-transform: uppercase;
    margin-top: 0;
}

.sub-title {
    font-size: 1em;
    text-transform: uppercase;
    font-family: var(--text-font, Arial);
    font-style: italic;
    font-weight: 200;
    opacity: 80%;
    padding: 0 auto;
    margin: 0 auto;
}

a {
    color: var(--accent-color);
    text-decoration: none;
}

strong {
    color: var(--accent-color);
}

a:hover {
    color: var(--secondary-color);
}



button {
    background-color: var(--accent-color);
    border: none;
    color: var(--background-color);
    text-transform: uppercase;
    padding: 1em;
    box-shadow: 0.1em 0.1em 1em 0.1em var(--shadow-color);
    border-radius: 8px;
    letter-spacing: 1.5px;
}

button:hover {
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.card {
    background-color: white;
    border-radius: 15px;
    padding: 1em;
    padding-bottom: 1em;
    box-shadow: 0.1em 0.1em 1em 0.1em var(--shadow-color);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.warning-card {
    border-left: 15px solid var(--warning-color);
}



.card-title {
    margin-top: 0;
    margin-bottom: 1rem;
    color: var(--accent-color);
    font-family: var(--text-font);
}

.card-image {
    width: 12em;
}

.card button {
    margin: 1em;
}

.section-title-box {
    display: flex;
    justify-content: left;
    align-items: center;
}

.icon {
    max-width: 30px;
    max-height: 30px;
    width: 4em;
    margin-right: 1em;
}

.warning-text {
    color: var(--warning-color);
}

@media (min-width: 1000px)
{
    section {
        min-height: 100vh;
    }

    .section-title-box {
        max-width: 900px;
        width: 70%;
    }
}