.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-width: fit-content;
    padding-bottom: 3rem;
    gap: 2rem;
}


.contact-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    width: 100%;
}


.container {
    border-radius: 5px;
    background-color: white;
    box-shadow: 1px 1px 6px  lightgrey;
    padding: 20px;
    width: 100%;
    font-size: 16px;
  }
  
  input,
  textarea {
      color: rgb(116, 116, 116);
      font-weight: 600;
      width: 100%;
      padding: 12px;
      box-shadow: 1px 1px 3px inset lightgrey;
      background-color: #f2f2f2;
      border: 1px lightgrey;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
      font-family: var(--text-font);
  }
  
  .container>form>p>button {
    margin: 0;
  }
  
  label{
      color: rgba(0, 0, 0, 0.65);
      font-weight: 600;
      letter-spacing: 1px;
  }
  
  input::placeholder,textarea::placeholder{
      color: lightgray;
  }
  
  
    input:focus, textarea:focus {
      outline: none;
      border: none;
      background-color: rgb(238, 238, 238);
    }
  
    textarea {
      height: 10vh; 
      transition: height 0.3s ease;
    }
    
    textarea:focus {
      height: 15vh;
    }

    .form-side {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 90%;
      min-width: 300px;
    }
    .form-side h3 {
      text-align: center;
    }

    .map-side{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 900%;
      height: 100%;
    }
   

    .contact-text-map {
      width: 300px;
    }
  
    .map {
      
      width: 100%;
      aspect-ratio: 9/10;
    }

  
    

@media (min-width:1000px)
{
  .contact-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: flex-start;
    justify-content: center;
    
  }
  .form-side {
    padding: 5rem 1rem;
    
  }

  .contact-text-map {
    width: 100%;
  }

  .contact-title {
    width: 100%;
  }

  .map-side{
    width: 80%;
  }

}