<div class="footer-content">
    <div class="footer-section footer-info">
        <p>
            Mathilde Lemarié <br>
            Psychologue du développement <br>
        </p>
        <p>
            8 allée de Crabitère <br>
            33980 AUDENGE
        </p>
        <input type="checkbox" name="phone-number-checkBox" id="phone-number-checkBox" class="phone-number-checkBox">
        <label class="phone-hidding-label" for="phone-number-checkBox">
            <p>Afficher le téléphone</p>
        </label>
        <p class="phone-number">06 37 56 89 03</p>
        <button>Prendre rendez-vous</button>
    </div>

    <div class="footer-section footer-plan">
        <h4>Plan du site</h4>
        <ul>
            <li>
                <a href="">accueil</a>
            </li>
            <li>
                <a href="">à propos</a>
            </li>
            <li>
                <a href="">infos pratiques</a>
            </li>
            <li>
                <a href="">mes pratiques</a>
            </li>
            <li>
                <a href="">conditions</a>
            </li>
            <li>
                <a href="">contact</a>
            </li>
        </ul>
    </div>

    <div class="footer-section footer-legal">
        <p>
            <a href="">Mentions legales</a> | Ce site est la propriété de <strong>Mathilde Lemarié</strong><br>
            Création et référencement du site par <a href="">Dorian Haouz Gachet</a>
        </p>
    </div>
</div>
