<div class="footer-content">
    <div class="footer-section footer-info">
        <p>
            Mathilde Lemarié <br>
            Psychologue du développement <br>
            <br>
            Numéro RPPS (Adeli) : 10109887488 <br>
            Numéro Siret : 93030645100012 <br>
        </p>
        <p>
            228 Bd de la République, <br>
            33510 Andernos-les-Bains
        </p>
        <p>m.lemarie.psychologue@gmail.com</p>
        <a href="https://www.doctolib.fr/psychologue/andernos-les-bains/mathilde-lemarie" target="_blank"><button>Prendre rendez-vous</button></a>
    </div>

    <div class="footer-section footer-plan">
        <h4>Plan du site</h4>
        <ul>
            <li>
                <a href="../../pages/home/home.html#hero">accueil</a>
            </li>
            <li>
                <a href="../../pages/about/about.html">à propos</a>
            </li>
            <li>
                <a href="../../pages/info/info.html">infos pratiques</a>
            </li>
            <li>
                <a href="../../pages/home/home.html#conditions">conditions</a>
            </li>
            <li>
                <a href="../../pages/home/home.html#contact">contact</a>
            </li>
        </ul>
    </div>

    <div class="footer-section footer-legal">
        <p>
            <a href="../../pages/legal/legal.html">Mentions legales</a> | © 2024 Ce site est la propriété de <strong>Mathilde Lemarié</strong><br>
            Création et référencement du site par <a href="">Dorian Haouz Gachet</a>
        </p>
    </div>
</div>
