footer {
    background-color: var(--primary-color);
    color: var(--primary-light-color);
    text-align: center;
    padding: 2rem 0;
    margin-top: 3rem;
    border-top: 2px solid var(--secondary-color) ;
}

footer h4 {
    color: var(--primary-light-color);
}

footer a {
    font-weight: 800;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

.footer-section {
    padding: 0 1rem;
}

.footer-plan ul {
    list-style: none;
    padding: 0;
}

.phone-number,  .phone-number-checkBox{
    display : none;
}

.phone-hidding-label p{
    text-decoration: underline;
}

.phone-hidding-label :hover, .phone-hidding-label :active {
    cursor: pointer;
    color: #ffc0cb;
}

.phone-number-checkBox:checked ~ .phone-hidding-label {
    display: none;
}

.phone-number-checkBox:checked ~ .phone-number {
    display: block;
}

.footer-plan li {
    padding: 0.3em;
}

footer a:hover {
    color: #ffc0cb;
}

@media (min-width: 500px){
    .footer-content {
        grid-template-columns: 1fr 1fr;
    }

    .footer-legal {
        grid-column: span 2;
    }
}

@media (min-width: 900px) {
    .footer-content {
        margin: 0 20vw;
    }
}

