<div class="footer-content">
    <div class="footer-section footer-info">
        <p>
            Mathilde Lemarié <br>
            Psychologue du développement <br>
        </p>
        <p>
            8 allée de Crabitère <br>
            33980 AUDENGE
        </p>
        <p>Afficher le telephone</p>
        <button>Prendre rendez-vous</button>
    </div>

    <div class="footer-section footer-plan">
        <h4>Plan du site</h4>
        <ul>
            <li>
                <a href="">Acceuil</a>
            </li>
            <li>
                <a href="">A propos</a>
            </li>
            <li>
                <a href="">Mes pratiques</a>
            </li>
            <li>
                <a href="">Conditions</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
    </div>

    <div class="footer-section footer-legal">
        <p>
            <a href="">Mentions legales</a> | Ce site est la propriété de <strong>Mathilde Lemarié</strong><br>
            Creation et referencement du site par <a href="">Dorian Haouz Gachet</a>
        </p>
    </div>
</div>
