.about-section-title {
    padding: 1.5em;
    border: 1px solid var(--darker-background);
}

.about-section-title>* {
    margin: 0;
}

.about-section-title>.section-sub-title {
    margin-top: 0.5em;
}

.who-section-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap : 1em;
    align-items: start;
    justify-items: center;
}

.who-section-content .title {
    grid-column: span 2;
    text-align: center;
}